.my-btn{
    height: 52px;
    font-size: 18px;
    line-height: 1;
    padding: 15px 50px;
    min-width: 100px;
    background: $primaryColor;
    border:1px solid $primaryColor;
    color:white;
    cursor: pointer;
    &:hover{
        background: $primaryColorHover;
        border:1px solid $primaryColorHover;
    }
}


.btn--save{
    padding: 10px 12px;
    transition: background-color 50ms ease-out;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    background-color: white;
    border-radius: 3px;
    border-color: #e6e6e6;
    cursor: pointer;
    &:hover{
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
        background-color: #e6e6e6;
    }
}
.btn--share{
    @extend .btn--save
}

.btn{
   height: 30px;
   padding: 4px 12px;
   background-color: rgb(248, 248, 248);
   border-color: rgb(204, 204, 204);
   border-radius: 3px;
   cursor: pointer;
}

.btn_filter{
    background:white;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        background:$primaryColor;
        color:white;
    }
}
.btn_filter1{
    background:white;
    border-radius: 3px;
    border: 1px solid #a2a0a0;
    padding: 10px 15px;
    cursor: pointer;
}