@import '../abstracts/initial';
@import '../abstracts/variable';
@import '../abstracts/minxin';
@import '../abstracts/extend';

//libs
@import '../libs/ant';

// Layouts
@import '../layouts/header';
@import '../layouts/megamenu';

// Components
@import '../components/button';
@import '../components/loadingPage';


#productPosition{
    .itemImage{
        position: relative;
        .imgItem:hover + .title{
            text-decoration: underline;
        }
    }
    .title{
        position: absolute;
        top:15px;
        left:15px;
    }
    .cateComp{
        box-shadow: 0 2px 4px 1px rgba(0,0,0,.12);
        transition: box-shadow 0.3s;
        cursor: pointer;
        margin-bottom:20px;
        .titleChild{
            border-top: 1px solid $borderColor;
            font-size: 14px;
        }
        &:hover{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,.24);
        }
    }
}