#PhotoCategory{
    .borderImage{
        position: relative;
        border:1px solid #e6e6e6;
        background-color: #f4f4f4;
        height:578px;
        .btns{
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
        .left{
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
            font-size: 40px;
        }
        .right{
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            font-size: 40px;
        }
        img{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);;
        }
    }
}

